@import url('https://fonts.googleapis.com/css?family=Alice|Jaldi&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(255, 235, 205, .3);
  font-family: 'Jaldi', sans-serif;
}

/*BANNER ON TOP OF PAGE -- HEADER*/

#comm-header-banner {
  background-color: rgb(224, 218, 204);
  padding: 5px;
}

.comm-social-header {
  margin-left: 300px;
}

#comm-social-icon {
  color: rgb(177, 169, 154);
  font-size: 25px;
  margin: 5px;
  /* padding-left: 7px;
  padding-right: 7px; */
}

/* LOGO */

.comm-header-logo {
  height: 124px;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-right: 689px;

}

/* GENERAL PAGE STRUCTURE */

.comm-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.comm-image-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 15px;
}

.comm-image-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 17.4px;
}

.comm-link {
  margin-left: 35px;
  margin-right: 35px;
}

#comm-p-text {
  font-family: 'Alice', serif;
  font-size: 14px;
  line-height: 1.9;
}


/* NAVBAR */

#comm-search-bar {
  background-color: rgb(224, 218, 204);
  color: black;
}

/* HOMEPAGE BEGIN */

.comm-slideshow {
  margin-bottom: 9px;
}

.comm-home-banner {
  background-color: rgb(139, 184, 232);
  height: 35px;
  width: 980px;
  margin: 0 auto;
}

.comm-home-pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#comm-test-1 {
  margin-left: -70px;
  margin-right: 70px;
}

/* PRODUCT PAGE BEGIN */
/* PRODUCTS */

.comm-products-banner {
  background-color: rgb(139, 184, 232);
  height: 55px;
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.comm-products-bannertext {
  font-size: 32px;
  padding: 5px;
}

.comm-empty-div {
  margin: 20px 0;
}

.comm-products-blurb-msg {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  
}

.comm-p-border {
  border-top: 1px dashed black;
}

.comm-p-div {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.comm-order-button {
  background-color: rgb(139, 184, 232);
  height: 40px;
  width: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px
}

#comm-href {
  text-decoration: none !important;
  color: black;
}

.comm-products-title {
  margin-top: 13px;
  margin-bottom: -50px;
}

.comm-products-list {
  margin: 0 300px;
}

.comm-carddeck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 5%;
}

#comm-card-title {
  margin-top: -50px;
  font-weight: 500;
  margin-bottom: -5px;
}

.comm-card-serving {
  font-size: 16px;
  margin-bottom: -25px;

}

.comm-card-description {
  font-size: 12px;
}

.comm-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 33%;
  height: 450px;
}

#comm-img {
  width: 320px;
  height: 280px;
}

/* FOOTER BITS */
#comm-footer-background {
  background-color: rgb(139, 184, 232);
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}

#comm-footer-links {
  font-size: 12px;
  text-decoration: none !important;
  color: black;
}

.comm-footer-stripe {
  margin-left: -15px;
  margin-right: -15px;
  height: 60px;
  background: repeating-linear-gradient(
    to right,
    #8bb8e8,
    #8bb8e8 10px,
    #a8c7e8 10px,
    #a8c7e8 20px
  ); 
}

/* RIBBON ON HOMEPAGE */

